body{
    background-color: #0f2b55;
    font-family: "PT Serif", sans-serif;
    
}

header {
    display: flex;
    justify-content: center;
}
.Titulo {
    width: 160px;
    padding: 12px 9px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #d1b161;
    border: 4px solid #a28334;
    border-top: 4px solid #ffd876;
    border-bottom: 4px solid #6d5823;
}

h1 {
    color: #efb810;
}

.Nombre {
    display: flex;
    font-size: 40px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#Nombre {
    color:aqua;
    display: flex;
    flex-direction: row;
    margin-bottom: 53.600px;
    margin-top: 53.600px;
    font-size: 80px;
}

.Indice,
.section1,
.section2,
.section3,
.section4,
footer {
    padding: 12px 9px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #d1b161;
    border: 4px solid #a28334;
    border-top: 4px solid #ffd876;
    border-bottom: 4px solid #6d5823;
}